:root {
  /* Atlassian Design System (ADS) Base Tokens */

  /* Color Tokens */
  /* Blue Base Tokens */
  --ds-blue100: #e9f2fe;
  --ds-blue200: #cfe1fd;
  --ds-blue300: #8fb8f6;
  --ds-blue400: #669df1;
  --ds-blue500: #4688ec;
  --ds-blue600: #357de8;
  --ds-blue700: #1868db;
  --ds-blue800: #1558bc;
  --ds-blue900: #123263;
  --ds-blue1000: #1c2b42;

  /* Red Base Tokens */
  --ds-red100: #ffeceb;
  --ds-red200: #ffd5d2;
  --ds-red300: #fd9891;
  --ds-red400: #f87168;
  --ds-red500: #f15b50;
  --ds-red600: #e2483d;
  --ds-red700: #c9372c;
  --ds-red800: #ae2e24;
  --ds-red900: #5d1f1a;
  --ds-red1000: #42221f;

  /* Green Base Tokens */
  --ds-green100: #dcfff1;
  --ds-green200: #baf3db;
  --ds-green300: #7ee2b8;
  --ds-green400: #4bce97;
  --ds-green500: #2abb7f;
  --ds-green600: #22a06b;
  --ds-green700: #1f845a;
  --ds-green800: #216e4e;
  --ds-green900: #164b35;
  --ds-green1000: #1c3329;

  /* Yellow Base Tokens */
  --ds-yellow100: #fef7c8;
  --ds-yellow200: #f5e989;
  --ds-yellow300: #eed12b;
  --ds-yellow400: #ddb30e;
  --ds-yellow500: #cf9f02;
  --ds-yellow600: #b38600;
  --ds-yellow700: #946f00;
  --ds-yellow800: #7f5f01;
  --ds-yellow900: #533f04;
  --ds-yellow1000: #332e1b;

  /* Purple Base Tokens */
  --ds-purple100: #f8eefe;
  --ds-purple200: #eed7fc;
  --ds-purple300: #d8a0f7;
  --ds-purple400: #c97cf4;
  --ds-purple500: #bf63f3;
  --ds-purple600: #af59e1;
  --ds-purple700: #964ac0;
  --ds-purple800: #803fa5;
  --ds-purple900: #48245d;
  --ds-purple1000: #35243f;

  /* Teal Base Tokens */
  --ds-teal100: #e7f9ff;
  --ds-teal200: #c6edfb;
  --ds-teal300: #9dd9ee;
  --ds-teal400: #6cc3e0;
  --ds-teal500: #42b2d7;
  --ds-teal600: #2898bd;
  --ds-teal700: #227d9b;
  --ds-teal800: #206a83;
  --ds-teal900: #164555;
  --ds-teal1000: #1e3137;

  /* Orange Base Tokens */
  --ds-orange100: #fff5db;
  --ds-orange200: #fce4a6;
  --ds-orange300: #fbc828;
  --ds-orange400: #fca700;
  --ds-orange500: #f68909;
  --ds-orange600: #e06c00;
  --ds-orange700: #bd5b00;
  --ds-orange800: #9e4c00;
  --ds-orange900: #693200;
  --ds-orange1000: #3a2c1f;

  /* Magenta Base Tokens */
  --ds-magenta100: #ffecf8;
  --ds-magenta200: #fdd0ec;
  --ds-magenta300: #f797d2;
  --ds-magenta400: #e774bb;
  --ds-magenta500: #da62ac;
  --ds-magenta600: #cd519d;
  --ds-magenta700: #ae4787;
  --ds-magenta800: #943d73;
  --ds-magenta900: #50253f;
  --ds-magenta1000: #3d2232;

  /* Lime Base Tokens */
  --ds-lime100: #efffd6;
  --ds-lime200: #d3f1a7;
  --ds-lime300: #b3df72;
  --ds-lime400: #94c748;
  --ds-lime500: #82b536;
  --ds-lime600: #6a9a23;
  --ds-lime700: #5b7f24;
  --ds-lime800: #4c6b1f;
  --ds-lime900: #37471f;
  --ds-lime1000: #28311b;

  /* Neutral Base Tokens (Light Mode) */
  --ds-neutralminus100: #ffffff; /* Custom */
  --ds-neutralminus100a: #ffffff08; /* Custom = 3% opacity */
  --ds-neutral0: #ffffff;
  --ds-neutral100: #f8f8f8;
  --ds-neutral100a: #17171708; /* 3% opacity */
  --ds-neutral200: #f0f1f2;
  --ds-neutral200a: #0515240f; /* 6% opacity */
  --ds-neutral250: #f0f1f2; /* Custom */
  --ds-neutral250a: #0515240f; /* Custom = 6% opacity */
  --ds-neutral300: #dddee1;
  --ds-neutral300a: #0b120e24; /* 14% opacity */
  --ds-neutral350: #dddee1; /* Custom */
  --ds-neutral350a: #0b120e24; /* Custom = 14% opacity */
  --ds-neutral400: #b7b9be;
  --ds-neutral400a: #080f214a; /* 29% opacity */
  --ds-neutral500: #8c8f97;
  --ds-neutral500a: #050c1f75; /* 46% opacity */
  --ds-neutral600: #7d818a;
  --ds-neutral700: #6b6e76;
  --ds-neutral800: #505258;
  --ds-neutral900: #3b3d42;
  --ds-neutral1000: #292a2e;
  --ds-neutral1100: #1e1f21;

  /* Dark Neutral Base Tokens */
  --ds-darkneutralminus100: #111213;
  --ds-darkneutralminus100a: #01040475; /* 46% opacity */
  --ds-darkneutral0: #18191a;
  --ds-darkneutral100: #1f1f21;
  --ds-darkneutral100a: #bdbdbd0a; /* 4% opacity */
  --ds-darkneutral200: #242528;
  --ds-darkneutral200a: #ceced912; /* 7% opacity */
  --ds-darkneutral250: #2b2c2f;
  --ds-darkneutral250a: #d9dae71a; /* 10% opacity */
  --ds-darkneutral300: #303134;
  --ds-darkneutral300a: #e3e4f21f; /* 12% opacity */
  --ds-darkneutral350: #3d3f43;
  --ds-darkneutral350a: #e8edfd2e; /* 18% opacity */
  --ds-darkneutral400: #4b4d51;
  --ds-darkneutral400a: #e5e9f640; /* 25% opacity */
  --ds-darkneutral500: #63666b;
  --ds-darkneutral500a: #e9f0fb5c; /* 36% opacity */
  --ds-darkneutral600: #7e8188;
  --ds-darkneutral700: #96999e;
  --ds-darkneutral800: #a9abaf;
  --ds-darkneutral900: #bfc1c4;
  --ds-darkneutral1000: #cecfd2;
  --ds-darkneutral1100: #e2e3e4;

  /* Opacity Tokens */
  --ds-opacity20: 0.2;
  --ds-opacity40: 0.4;

  /* Shape Tokens */
  /* Size Tokens */
  --ds-size0: 0;
  --ds-size050: 1px;
  --ds-size100: 2px;
  --ds-size200: 3px;

  /* Border Radius Tokens */
  /* --ds-radius0: 0; */
  --ds-radius050: 2px;
  --ds-radius075: 3px;
  --ds-radius100: 4px;
  --ds-radius150: 6px;
  --ds-radius200: 8px;
  --ds-radius300: 12px;
  --ds-radius400: 16px;
  /* --ds-radiuscircle: 32032px; */

  /* Spacing Tokens */
  /* Positive Spacing */
  --ds-space0: 0;
  --ds-space025: 2px;
  --ds-space050: 4px;
  --ds-space075: 6px;
  --ds-space100: 8px;
  --ds-space150: 12px;
  --ds-space200: 16px;
  --ds-space250: 20px;
  --ds-space300: 24px;
  --ds-space400: 32px;
  --ds-space500: 40px;
  --ds-space600: 48px;
  --ds-space800: 64px;
  --ds-space1000: 80px;

  /* Negative Spacing */
  --ds-spacenegative025: -2px;
  --ds-spacenegative050: -4px;
  --ds-spacenegative075: -6px;
  --ds-spacenegative100: -8px;
  --ds-spacenegative150: -12px;
  --ds-spacenegative200: -16px;
  --ds-spacenegative250: -20px;
  --ds-spacenegative300: -24px;
  --ds-spacenegative400: -32px;

  /* Typography Tokens */
  /* Font Size Tokens */
  --ds-fontsizecode: 0.875em;
  --ds-fontsize12: 12px;
  --ds-fontsize14: 14px;
  --ds-fontsize16: 16px;
  --ds-fontsize20: 20px;
  --ds-fontsize24: 24px;
  --ds-fontsize28: 28px;
  --ds-fontsize32: 32px;
  --ds-fontsize36: 36px;
  --ds-fontsize48: 48px;

  /* Font Weight Tokens */
  --ds-fontweight400: 400;
  --ds-fontweight500: 500;
  --ds-fontweight600: 600;
  --ds-fontweight653: 653;
  --ds-fontweight700: 700;

  /* Font Family Tokens */
  --ds-fontfamilycharliedisplay: "Charlie Display", ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu, "Helvetica Neue", sans-serif;
  --ds-fontfamilycharlietext: "Charlie Text", ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu, "Helvetica Neue", sans-serif;
  --ds-fontfamilywebsans: "Atlassian Sans", ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu, "Helvetica Neue", sans-serif;
  --ds-fontfamilywebmono: "Atlassian Mono", ui-monospace, Menlo, "Segoe UI Mono", "Ubuntu Mono", monospace;
  --ds-fontfamilyiossans: SF Pro;
  --ds-fontfamilyandroidsans: Roboto;
  --ds-fontfamilyiosmono: SF Mono;
  --ds-fontfamilyandroidmono: Roboto Mono;

  /* Line Height Tokens */
  --ds-lineheight1: 1;
  --ds-lineheight16: 16;
  --ds-lineheight20: 20;
  --ds-lineheight24: 24;
  --ds-lineheight28: 28;
  --ds-lineheight32: 32;
  --ds-lineheight36: 36;
  --ds-lineheight40: 40;
  --ds-lineheight48: 48;
  --ds-lineheight56: 56;

  /* Letter Spacing Tokens */
  --ds-letterspacing0: 0;
  --ds-letterspacing100: -0.003em;
  --ds-letterspacing200: -0.006em;
  --ds-letterspacing300: -0.008em;
  --ds-letterspacing400: -0.01em;

  /* Atlassian Design System (ADS) Design Tokens */
  --ds-elevation-shadow-raised: 0 1px 1px rgba(9, 30, 66, 0.25), 0 0 1px rgba(9, 30, 66, 0.31);
  --ds-elevation-shadow-overflow: 0 0 8px rgba(9, 30, 66, 0.16), 0 0 1px rgba(9, 30, 66, 0.12);
  --ds-elevation-shadow-overlay: 0 8px 12px rgba(9, 30, 66, 0.15), 0 0 1px rgba(9, 30, 66, 0.31);

  --ds-dark-elevation-shadow-raised: 0 0 0 rgba(0, 0, 0, 0), 0 1px 1px rgba(3, 4, 4, 0.5), 0 0 1px rgba(3, 4, 4, 0.5);
  --ds-dark-elevation-shadow-overflow: 0 0 12px rgba(3, 4, 4, 0.56), 0 0 1px rgba(3, 4, 4, 0.5);
  --ds-dark-elevation-shadow-overlay: 0 0 0 rgba(57, 66, 74, 1), 0 8px 12px rgba(3, 4, 4, 0.36), 0 0 1px rgba(3, 4, 4, 0.5);

  /* Shadcn Tokens */
  --background: var(--ds-neutral0); /* Background color */
  --foreground: var(--ds-neutral1000); /* Text color */

  --card: var(--ds-neutral0);
  --card-foreground: var(--ds-neutral1000);

  --popover: var(--ds-neutral0);
  --popover-foreground: var(--ds-neutral1000);

  --primary: var(--ds-blue700);
  --primary-foreground: var(--ds-neutral0);

  --secondary: var(--ds-neutral200);
  --secondary-foreground: var(--ds-neutral900);

  --muted: var(--ds-neutral200);
  --muted-foreground: var(--ds-neutral700);

  --accent: var(--ds-neutral200);
  --accent-foreground: var(--ds-neutral900);

  --destructive: var(--ds-red600);

  --border: var(--ds-neutral300a);
  --input: var(--ds-neutral500);
  --ring: var(--ds-blue700);

  --chart-1: var(--ds-blue600);
  --chart-2: var(--ds-green600);
  --chart-3: var(--ds-orange600);
  --chart-4: var(--ds-purple600);
  --chart-5: var(--ds-teal600);

  --sidebar: var(--ds-neutral0); /* Background color */
  --sidebar-foreground: var(--ds-neutral1000); /* Text color */
  --sidebar-primary: var(--ds-blue700); /* Background color - Buttons in sidebar */
  --sidebar-primary-foreground: var(--ds-neutral0); /* Text color - Buttons in sidebar */
  --sidebar-accent: var(--ds-blue200); /* Hover state color - Selected item */
  --sidebar-accent-foreground: var(--ds-blue700); /* Hover state text color */
  --sidebar-border: var(--ds-neutral300a); /* Border color */
  --sidebar-ring: var(--ds-blue700); /* Focus state color */
}

.dark {
  --background: var(--ds-darkneutral0);
  --foreground: var(--ds-darkneutral1100);

  --card: var(--ds-darkneutral0);
  --card-foreground: var(--ds-darkneutral1100);

  --popover: var(--ds-darkneutral0);
  --popover-foreground: var(--ds-darkneutral1100);

  --primary: var(--ds-blue400);
  --primary-foreground: var(--ds-darkneutral0);

  --secondary: var(--ds-darkneutral200);
  --secondary-foreground: var(--ds-darkneutral900);

  --muted: var(--ds-darkneutral200);
  --muted-foreground: var(--ds-darkneutral700);

  --accent: var(--ds-darkneutral200);
  --accent-foreground: var(--ds-darkneutral900);

  --destructive: var(--ds-red500);

  --border: var(--ds-darkneutral300a);
  --input: var(--ds-darkneutral600);
  --ring: var(--ds-blue400);

  --chart-1: var(--ds-blue400);
  --chart-2: var(--ds-green400);
  --chart-3: var(--ds-orange400);
  --chart-4: var(--ds-purple400);
  --chart-5: var(--ds-teal400);

  --sidebar: var(--ds-darkneutral0);
  --sidebar-foreground: var(--ds-darkneutral1000);
  --sidebar-primary: var(--ds-blue900);
  --sidebar-primary-foreground: var(--ds-darkneutral0);
  --sidebar-accent: var(--ds-blue900);
  --sidebar-accent-foreground: var(--ds-blue400);
  --sidebar-border: var(--ds-darkneutral300a);
  --sidebar-ring: var(--ds-blue400);
}
:root {
  /* Atlassian Design System (ADS) Base Tokens */

  /* Color Tokens */
  /* Blue Base Tokens */
  --ds-blue100: #e9f2fe;
  --ds-blue200: #cfe1fd;
  --ds-blue300: #8fb8f6;
  --ds-blue400: #669df1;
  --ds-blue500: #4688ec;
  --ds-blue600: #357de8;
  --ds-blue700: #1868db;
  --ds-blue800: #1558bc;
  --ds-blue900: #123263;
  --ds-blue1000: #1c2b42;

  /* Red Base Tokens */
  --ds-red100: #ffeceb;
  --ds-red200: #ffd5d2;
  --ds-red300: #fd9891;
  --ds-red400: #f87168;
  --ds-red500: #f15b50;
  --ds-red600: #e2483d;
  --ds-red700: #c9372c;
  --ds-red800: #ae2e24;
  --ds-red900: #5d1f1a;
  --ds-red1000: #42221f;

  /* Green Base Tokens */
  --ds-green100: #dcfff1;
  --ds-green200: #baf3db;
  --ds-green300: #7ee2b8;
  --ds-green400: #4bce97;
  --ds-green500: #2abb7f;
  --ds-green600: #22a06b;
  --ds-green700: #1f845a;
  --ds-green800: #216e4e;
  --ds-green900: #164b35;
  --ds-green1000: #1c3329;

  /* Yellow Base Tokens */
  --ds-yellow100: #fef7c8;
  --ds-yellow200: #f5e989;
  --ds-yellow300: #eed12b;
  --ds-yellow400: #ddb30e;
  --ds-yellow500: #cf9f02;
  --ds-yellow600: #b38600;
  --ds-yellow700: #946f00;
  --ds-yellow800: #7f5f01;
  --ds-yellow900: #533f04;
  --ds-yellow1000: #332e1b;

  /* Purple Base Tokens */
  --ds-purple100: #f8eefe;
  --ds-purple200: #eed7fc;
  --ds-purple300: #d8a0f7;
  --ds-purple400: #c97cf4;
  --ds-purple500: #bf63f3;
  --ds-purple600: #af59e1;
  --ds-purple700: #964ac0;
  --ds-purple800: #803fa5;
  --ds-purple900: #48245d;
  --ds-purple1000: #35243f;

  /* Teal Base Tokens */
  --ds-teal100: #e7f9ff;
  --ds-teal200: #c6edfb;
  --ds-teal300: #9dd9ee;
  --ds-teal400: #6cc3e0;
  --ds-teal500: #42b2d7;
  --ds-teal600: #2898bd;
  --ds-teal700: #227d9b;
  --ds-teal800: #206a83;
  --ds-teal900: #164555;
  --ds-teal1000: #1e3137;

  /* Orange Base Tokens */
  --ds-orange100: #fff5db;
  --ds-orange200: #fce4a6;
  --ds-orange300: #fbc828;
  --ds-orange400: #fca700;
  --ds-orange500: #f68909;
  --ds-orange600: #e06c00;
  --ds-orange700: #bd5b00;
  --ds-orange800: #9e4c00;
  --ds-orange900: #693200;
  --ds-orange1000: #3a2c1f;

  /* Magenta Base Tokens */
  --ds-magenta100: #ffecf8;
  --ds-magenta200: #fdd0ec;
  --ds-magenta300: #f797d2;
  --ds-magenta400: #e774bb;
  --ds-magenta500: #da62ac;
  --ds-magenta600: #cd519d;
  --ds-magenta700: #ae4787;
  --ds-magenta800: #943d73;
  --ds-magenta900: #50253f;
  --ds-magenta1000: #3d2232;

  /* Lime Base Tokens */
  --ds-lime100: #efffd6;
  --ds-lime200: #d3f1a7;
  --ds-lime300: #b3df72;
  --ds-lime400: #94c748;
  --ds-lime500: #82b536;
  --ds-lime600: #6a9a23;
  --ds-lime700: #5b7f24;
  --ds-lime800: #4c6b1f;
  --ds-lime900: #37471f;
  --ds-lime1000: #28311b;

  /* Neutral Base Tokens (Light Mode) */
  --ds-neutralminus100: #ffffff; /* Custom */
  --ds-neutralminus100a: #ffffff08; /* Custom = 3% opacity */
  --ds-neutral0: #ffffff;
  --ds-neutral100: #f8f8f8;
  --ds-neutral100a: #17171708; /* 3% opacity */
  --ds-neutral200: #f0f1f2;
  --ds-neutral200a: #0515240f; /* 6% opacity */
  --ds-neutral250: #f0f1f2; /* Custom */
  --ds-neutral250a: #0515240f; /* Custom = 6% opacity */
  --ds-neutral300: #dddee1;
  --ds-neutral300a: #0b120e24; /* 14% opacity */
  --ds-neutral350: #dddee1; /* Custom */
  --ds-neutral350a: #0b120e24; /* Custom = 14% opacity */
  --ds-neutral400: #b7b9be;
  --ds-neutral400a: #080f214a; /* 29% opacity */
  --ds-neutral500: #8c8f97;
  --ds-neutral500a: #050c1f75; /* 46% opacity */
  --ds-neutral600: #7d818a;
  --ds-neutral700: #6b6e76;
  --ds-neutral800: #505258;
  --ds-neutral900: #3b3d42;
  --ds-neutral1000: #292a2e;
  --ds-neutral1100: #1e1f21;

  /* Dark Neutral Base Tokens */
  --ds-darkneutralminus100: #111213;
  --ds-darkneutralminus100a: #01040475; /* 46% opacity */
  --ds-darkneutral0: #18191a;
  --ds-darkneutral100: #1f1f21;
  --ds-darkneutral100a: #bdbdbd0a; /* 4% opacity */
  --ds-darkneutral200: #242528;
  --ds-darkneutral200a: #ceced912; /* 7% opacity */
  --ds-darkneutral250: #2b2c2f;
  --ds-darkneutral250a: #d9dae71a; /* 10% opacity */
  --ds-darkneutral300: #303134;
  --ds-darkneutral300a: #e3e4f21f; /* 12% opacity */
  --ds-darkneutral350: #3d3f43;
  --ds-darkneutral350a: #e8edfd2e; /* 18% opacity */
  --ds-darkneutral400: #4b4d51;
  --ds-darkneutral400a: #e5e9f640; /* 25% opacity */
  --ds-darkneutral500: #63666b;
  --ds-darkneutral500a: #e9f0fb5c; /* 36% opacity */
  --ds-darkneutral600: #7e8188;
  --ds-darkneutral700: #96999e;
  --ds-darkneutral800: #a9abaf;
  --ds-darkneutral900: #bfc1c4;
  --ds-darkneutral1000: #cecfd2;
  --ds-darkneutral1100: #e2e3e4;

  /* Opacity Tokens */
  --ds-opacity20: 0.2;
  --ds-opacity40: 0.4;

  /* Shape Tokens */
  /* Size Tokens */
  --ds-size0: 0;
  --ds-size050: 1px;
  --ds-size100: 2px;
  --ds-size200: 3px;

  /* Border Radius Tokens */
  /* --ds-radius0: 0; */
  --ds-radius050: 2px;
  --ds-radius075: 3px;
  --ds-radius100: 4px;
  --ds-radius150: 6px;
  --ds-radius200: 8px;
  --ds-radius300: 12px;
  --ds-radius400: 16px;
  /* --ds-radiuscircle: 32032px; */

  /* Spacing Tokens */
  /* Positive Spacing */
  --ds-space0: 0;
  --ds-space025: 2px;
  --ds-space050: 4px;
  --ds-space075: 6px;
  --ds-space100: 8px;
  --ds-space150: 12px;
  --ds-space200: 16px;
  --ds-space250: 20px;
  --ds-space300: 24px;
  --ds-space400: 32px;
  --ds-space500: 40px;
  --ds-space600: 48px;
  --ds-space800: 64px;
  --ds-space1000: 80px;

  /* Negative Spacing */
  --ds-spacenegative025: -2px;
  --ds-spacenegative050: -4px;
  --ds-spacenegative075: -6px;
  --ds-spacenegative100: -8px;
  --ds-spacenegative150: -12px;
  --ds-spacenegative200: -16px;
  --ds-spacenegative250: -20px;
  --ds-spacenegative300: -24px;
  --ds-spacenegative400: -32px;

  /* Typography Tokens */
  /* Font Size Tokens */
  --ds-fontsizecode: 0.875em;
  --ds-fontsize12: 12px;
  --ds-fontsize14: 14px;
  --ds-fontsize16: 16px;
  --ds-fontsize20: 20px;
  --ds-fontsize24: 24px;
  --ds-fontsize28: 28px;
  --ds-fontsize32: 32px;
  --ds-fontsize36: 36px;
  --ds-fontsize48: 48px;

  /* Font Weight Tokens */
  --ds-fontweight400: 400;
  --ds-fontweight500: 500;
  --ds-fontweight600: 600;
  --ds-fontweight653: 653;
  --ds-fontweight700: 700;

  /* Font Family Tokens */
  --ds-fontfamilycharliedisplay: "Charlie Display", ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu, "Helvetica Neue", sans-serif;
  --ds-fontfamilycharlietext: "Charlie Text", ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu, "Helvetica Neue", sans-serif;
  --ds-fontfamilywebsans: "Atlassian Sans", ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu, "Helvetica Neue", sans-serif;
  --ds-fontfamilywebmono: "Atlassian Mono", ui-monospace, Menlo, "Segoe UI Mono", "Ubuntu Mono", monospace;
  --ds-fontfamilyiossans: SF Pro;
  --ds-fontfamilyandroidsans: Roboto;
  --ds-fontfamilyiosmono: SF Mono;
  --ds-fontfamilyandroidmono: Roboto Mono;

  /* Line Height Tokens */
  --ds-lineheight1: 1;
  --ds-lineheight16: 16;
  --ds-lineheight20: 20;
  --ds-lineheight24: 24;
  --ds-lineheight28: 28;
  --ds-lineheight32: 32;
  --ds-lineheight36: 36;
  --ds-lineheight40: 40;
  --ds-lineheight48: 48;
  --ds-lineheight56: 56;

  /* Letter Spacing Tokens */
  --ds-letterspacing0: 0;
  --ds-letterspacing100: -0.003em;
  --ds-letterspacing200: -0.006em;
  --ds-letterspacing300: -0.008em;
  --ds-letterspacing400: -0.01em;

  /* Atlassian Design System (ADS) Design Tokens */
  --ds-elevation-shadow-raised: 0 1px 1px rgba(9, 30, 66, 0.25), 0 0 1px rgba(9, 30, 66, 0.31);
  --ds-elevation-shadow-overflow: 0 0 8px rgba(9, 30, 66, 0.16), 0 0 1px rgba(9, 30, 66, 0.12);
  --ds-elevation-shadow-overlay: 0 8px 12px rgba(9, 30, 66, 0.15), 0 0 1px rgba(9, 30, 66, 0.31);

  --ds-dark-elevation-shadow-raised: 0 0 0 rgba(0, 0, 0, 0), 0 1px 1px rgba(3, 4, 4, 0.5), 0 0 1px rgba(3, 4, 4, 0.5);
  --ds-dark-elevation-shadow-overflow: 0 0 12px rgba(3, 4, 4, 0.56), 0 0 1px rgba(3, 4, 4, 0.5);
  --ds-dark-elevation-shadow-overlay: 0 0 0 rgba(57, 66, 74, 1), 0 8px 12px rgba(3, 4, 4, 0.36), 0 0 1px rgba(3, 4, 4, 0.5);

  /* Shadcn Tokens */
  --background: var(--ds-neutral0); /* Background color */
  --foreground: var(--ds-neutral1000); /* Text color */

  --card: var(--ds-neutral0);
  --card-foreground: var(--ds-neutral1000);

  --popover: var(--ds-neutral0);
  --popover-foreground: var(--ds-neutral1000);

  --primary: var(--ds-blue700);
  --primary-foreground: var(--ds-neutral0);

  --secondary: var(--ds-neutral200);
  --secondary-foreground: var(--ds-neutral900);

  --muted: var(--ds-neutral200);
  --muted-foreground: var(--ds-neutral700);

  --accent: var(--ds-neutral200);
  --accent-foreground: var(--ds-neutral900);

  --destructive: var(--ds-red600);

  --border: var(--ds-neutral300a);
  --input: var(--ds-neutral500);
  --ring: var(--ds-blue700);

  --chart-1: var(--ds-blue600);
  --chart-2: var(--ds-green600);
  --chart-3: var(--ds-orange600);
  --chart-4: var(--ds-purple600);
  --chart-5: var(--ds-teal600);

  --sidebar: var(--ds-neutral0); /* Background color */
  --sidebar-foreground: var(--ds-neutral1000); /* Text color */
  --sidebar-primary: var(--ds-blue700); /* Background color - Buttons in sidebar */
  --sidebar-primary-foreground: var(--ds-neutral0); /* Text color - Buttons in sidebar */
  --sidebar-accent: var(--ds-blue200); /* Hover state color - Selected item */
  --sidebar-accent-foreground: var(--ds-blue700); /* Hover state text color */
  --sidebar-border: var(--ds-neutral300a); /* Border color */
  --sidebar-ring: var(--ds-blue700); /* Focus state color */
}

.dark {
  --background: var(--ds-darkneutral0);
  --foreground: var(--ds-darkneutral1100);

  --card: var(--ds-darkneutral0);
  --card-foreground: var(--ds-darkneutral1100);

  --popover: var(--ds-darkneutral0);
  --popover-foreground: var(--ds-darkneutral1100);

  --primary: var(--ds-blue400);
  --primary-foreground: var(--ds-darkneutral0);

  --secondary: var(--ds-darkneutral200);
  --secondary-foreground: var(--ds-darkneutral900);

  --muted: var(--ds-darkneutral200);
  --muted-foreground: var(--ds-darkneutral700);

  --accent: var(--ds-darkneutral200);
  --accent-foreground: var(--ds-darkneutral900);

  --destructive: var(--ds-red500);

  --border: var(--ds-darkneutral300a);
  --input: var(--ds-darkneutral600);
  --ring: var(--ds-blue400);

  --chart-1: var(--ds-blue400);
  --chart-2: var(--ds-green400);
  --chart-3: var(--ds-orange400);
  --chart-4: var(--ds-purple400);
  --chart-5: var(--ds-teal400);

  --sidebar: var(--ds-darkneutral0);
  --sidebar-foreground: var(--ds-darkneutral1000);
  --sidebar-primary: var(--ds-blue900);
  --sidebar-primary-foreground: var(--ds-darkneutral0);
  --sidebar-accent: var(--ds-blue900);
  --sidebar-accent-foreground: var(--ds-blue400);
  --sidebar-border: var(--ds-darkneutral300a);
  --sidebar-ring: var(--ds-blue400);
}
